body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #312b59;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #f0f0f0;
}

.login-container {
    width: 100%;
    max-width: 1200px;
    height: 800px;
    background-color: #27224d; 
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.background-shape {
    position: absolute;
    background-color: rgba(65, 60, 100, 0.5); 
    border-radius: 50%;

}

.shape-1 {
    width: 300px;
    height: 150px;
    top: 50px;
    left: -50px;
    border-radius: 50px;
    transform: rotate(-15deg);
}

.shape-2 {
    width: 250px;
    height: 250px;
    bottom: 50px;
    right: -100px;
}

.shape-3 {
    width: 100px;
    height: 100px;
    bottom: 200px;
    left: 100px;
}

.background-stars {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 24px;
    opacity: 0.3;
}



.login-box {
    background-color: rgba(43, 38, 77, 0.8); 
    padding: 40px 50px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);

}

.logo {
    font-size: 36px;
    font-weight: 700;
    color: white;
    margin-bottom: 40px;
    
    .tm {
        font-size: 16px;
        vertical-align: super;
    }
}

.input-group {
    margin-bottom: 20px;
    text-align: left;

    label {
        display: block;
        font-size: 10px;
        color: #aaaaaa;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        padding: 12px 15px;
        border: none;
        background-color: #3c356e; 
        color: white;
        border-radius: 5px;
        box-sizing: border-box; 
        font-size: 16px;

        &:focus {
            outline: 2px solid #5a52a3; 
        }
    }
}

button {
    width: 100%;
    padding: 12px;
    background-color: white;
    color: #27224d; 
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.2s;
    
    &:hover {
        background-color: #e0e0e0;
    }
}

.forgot-password {
    font-size: 12px;
    color: #aaaaaa;
    margin-top: 25px;
 
}

.login-message {
    margin-top: 15px;
    font-size: 14px;
}